<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JCTechnology</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ContactServlet</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>com.jc.servlet.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowRequest</display-name>
    <servlet-name>ShowRequest</servlet-name>
    <servlet-class>com.jc.servlet.ShowRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowRequest</servlet-name>
    <url-pattern>/ShowRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogInServlet</display-name>
    <servlet-name>LogInServlet</servlet-name>
    <servlet-class>com.jc.servlet.LogInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/LogInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowContact</display-name>
    <servlet-name>ShowContact</servlet-name>
    <servlet-class>com.jc.servlet.ShowContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowContact</servlet-name>
    <url-pattern>/ShowContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelteRequest</display-name>
    <servlet-name>DelteRequest</servlet-name>
    <servlet-class>com.jc.servlet.DelteRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelteRequest</servlet-name>
    <url-pattern>/DelteRequest</url-pattern>
  </servlet-mapping>
</web-app>